
p{
    font-size: 22px
}
button{
    border-radius: 4px;
}
#home-nav{
    display: flex;
    justify-content: space-between;
    height: 51px;
    background-color: rgb(94, 15, 15);
    width: 100vw;
    
    
    .logo{
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    
    ul{
        display: flex;
        list-style: none;
    }
    
    .login  {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        width: 100px;
        justify-content:start
    }
    
    .register{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        width: 100px;
        justify-content: start
    }
}