

    $scoreFont_small:24px;
    $scoreFont_medium:44px;
    $scoreFont_large:60px;
    $scoreFont_desktop:88px;

    


.main{
    font-size: $scoreFont_small;

    #coach_info{
        display: flex;
        background-color: #747481;
        width: 100vw;
        height: 77px;
        #username{
            background: transparent;

    }
    #pic{
        position: relative;
        display: flex;
        flex-direction: flex-start;
        width:40vw;

        img{
            width: 125px;
            height: 71px;
            z-index: 2;
            }
        }
    }

    .score_buttons{
        display: flex;
        justify-content: flex-start;

    }
        
        .team-one{
            display:flex;
            flex-direction: column;
            width:100vw;
            height: 40vh;

            #teamOneScore{
            }
            
            
        }
        
        .team-two{
            display:flex;
            flex-direction: column;
            width:100vw;
            height: 40vh;

            #teamTwoScore{
            }
            
        }
    }
    
