

    $scoreFont:4em;

.teamStats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  
    
    #team1{
        display:flex;
        
        .scores{
            font-size: $scoreFont;
        }
        #add-team1-scores{


        }

        #team1-score{
            

        }
        
        background-color: blue;
        
        
    }
    
    #team2{
        background-color: red;
        
    }
}

#home-nav{
    display: flex;
    justify-content: space-between;
    height: 51px;
    background-color: rgb(94, 15, 15);
    width: 100vw;


    .logo{
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    ul{
        display: flex;
        list-style: none;
    }

    .login  {
        display: flex;
        align-items: center;
       justify-content: space-between;
       padding: 0;
       margin: 0;
       width: 100px;
       justify-content: start
       }

       .register{
        display: flex;
        align-items: center;
       justify-content: space-between;
       padding: 0;
       margin: 0;
       width: 100px;
       justify-content: start
       }
    

}