#home-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 51px;
    background-color: rgb(94, 15, 15);
    width: 100vw;
    padding: 0;
    margin: 0;
  
  
    .logo{
  
        align-items: center;
    }
  
    ul{
        list-style: none;
    }
  
    .login  {
       width: 100px;
       justify-content: start
       }
  
       .register{
       width: 100px;
       justify-content: start
       }
    
  
  }