
// background for entire app.

.App{
  width:100vw;
  height: 100vh;
  display: flex;
  // justify-content: center;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(82, 99, 110, 0.5), rgba(136, 156, 161, 0.5)),
  url('http://getwallpapers.com/wallpaper/full/a/3/2/835638-free-download-chrome-backgrounds-2560x1440.jpg');

    
}

// text mods;

$font-small: 1.3rem;
$font-medium: 1.8rem;
$font-large: 5rem;
$padding-small: 5px;
$padding-medium: 2px;


.App{
  p {
    font-size: $font-small;
    text-align: center;
    padding: $padding-small;
}

@media (min-width: 320px) and (min-height: 568px){
    p{ font-size: $font-small;
    padding: $padding-small}
}

@media(min-width: 360px) and (min-height: 640px){
    p{
        font-size: $font-medium;
        padding: $padding-medium;
    }

  
}

h1{
    font-size: $font-medium;
    padding: $padding-small;
    @media(min-width: 411) and ( min-height:731 ){
      font-size: 2.8rem;
}
}
}

button{
  width: 6rem;
  height: 2rem;
  border-color: #181d1f;
  @media(min-width: 411) and ( min-height:731 ){
    width: 7rem;
    height: 3rem;
  }

}


// divs containing component layouts.

.main{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  // justify-content: center;
  input{
      width:40vw;
      @media(min-width: 411) and ( min-height:731 ){
        height: 2rem;
      }
  }



  // modal styling.

  .edit-delete{
      display: flex;
      justify-content: space-evenly;
      width: 100vw;
  }
  
}

// main nav bar styling.

#home-nav{
  display: flex;
  align-items: center;
  height: 12vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image:linear-gradient(to bottom, rgba(210, 220, 226, 0.5), rgba(166, 166, 182, 0.5)),
   url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/15/61/975822e56aed9ad.JPG');
   background-position: center;
   background-size: cover;
  //  position: absolute;
  //  top: 0px;

  //  logo picture specs.
   .logo{
     width: 7rem;
     height: 2rem;
     padding-left: 1rem;

     @media(min-height: 640px) and (min-width: 360px){
       width: 9rem;
       height: 3rem;
     }
   }

  // just what it says :)

   #burger-menu{
     display: flex;
     width: 4rem;
     height:3rem;

     @media(min-width: 411) and ( min-height:731 ){
      width: 5rem;
      height:4rem;
     }

   }

   .burger-house{
     padding-left: 6rem;
     padding-right: 1rem;
     @media(min-width: 411) and ( min-height:731 ){
      padding-left: 8rem;
    }
   }

   .links{
    background-color: #181d1f;
    border-color: #2e363a;
    border-width: 2px;
    width: 30vw;
    height: 40vh;
    z-index: 30;
    position: absolute;
    top: 0px;
    padding-top:1rem;
    transition: 1s;
    

   }

   
// link styler.


  li{
    color: white;
    list-style: none;
    z-index: 100;
    position: relative;
    font-size: 1.6rem;
}
}









